body{
  font-family: 'Caveat Brush', cursive;
}
#animation {
  z-index: -1;
  position: fixed;
}
#logs{
  margin-left: 20px;
}

.btn{
  width: 100px;
  margin-right: 25px;
  font-size: 20px;
}
.btn-light{
  border: 2px solid;
}
.buttons{
  position: absolute;
  margin: auto;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 100px;
}
#face_video{
  position: absolute;
  margin: auto;
  top: 18%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
}
#emotion{
  text-align: center;
  font-size: 45px;
  font-family: 'Caveat Brush', cursive;
}
